<html>
<head>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>
<body style="background-color:<%= $bg_color %>">
  <div id="container">
    <div class="box">
      <h2>Logged Contacts</h2>
      <h4>So far, <%= @contacts.count %> people have signed up.</h4>
      <table cellpadding="10px">
        <thead class="even">
          <td class="table-name">Name</td>
          <td class="table-type">Type</td>
          <td class="table-referer">Referer URL</td>
        </thead>
        <% @contacts.each_with_index do |contact, i| %>
          <% row_class = i%2 == 0 ? "even" : "odd" %> 
          <tr class="<%= row_class %>">
            <td class="table-name"><%= contact['name'] %></td>
            <td class="table-type"><%= contact['type'] %></td>
            <td class="table-referer"><%= contact['referer'] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</body>
</html>
