%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= $page_title
    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js", type: "text/javascript" }
    %script{ src: "bootstrap/js/bootstrap.min.js", type: "text/javascript" }
    %script{ src: "bootstrap/js/bootstrap-modal.min.js", type: "text/javascript" }
    %script{ src: "landingpad.js", type: "text/javascript" }
    %link{ href: "http://fonts.googleapis.com/css?family=#{$app_title_font}", rel: "stylesheet", type: "text/css" }
    %link{ href: "bootstrap/css/bootstrap.min.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %link{ href: "bootstrap/css/bootstrap-responsive.min.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %link{ href: "style.css", media: "screen", rel: "stylesheet", type: "text/css" }
  %body{ style: "background-color:#{$bg_color};" }
    #container.container
      .row
        #info.span12
          .bloc
            %h1= $app_title
            %p= $app_summary
            %p
              %button.btn.btn-info Learn More
        #signup.span12
          .control-group.small-bloc
            %form#subscribe.form-inline{novalidate: "novalidate"}
              %input#inputIcon.span4{ type: "text", placeholder: 'Email or @username', name: 'contact' }
              %button.btn Sign up
            %small.help Enter your email or Twitter and we'll send you an invite.
    #social.modal.fade
      .modal-header
        %a.close{ "data-dismiss" => "modal" } ×
        %h3= $app_title
      .modal-body
        %p
          Share this page with your friends on Facebook and Twitter to get invited sooner.
      .modal-footer
        %a.btn.btn-info{ href: "http://twitter.com/home?status=Check+out+#{u $app_title}.+#{u $app_summary}+#{u $app_url}"} Twitter
        %a.btn.btn-primary{ href: "http://www.facebook.com/share.php?u=#{u $app_url}" } Facebook
        %a.btnClose
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', ' $google_analytics_key ']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();