<html>
<head>
  <title><%= $page_title %></title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=<%= $app_title_font %>">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>
<body style="background-color:<%= $bg_color %>;">
  <div id="container" class="container">
    <div class="row-fuild">
      <div class="span12">
        <div class='bloc'>
          <h1><%= $app_title %></h1>
          <p><%= $app_summary %></p>
        </div>
      </div>
      <div class="span12">
        <div class='small-bloc'>
          <form novalidate>
            <input type="email" class='input-xlarge' placeholder='Email address or Twitter @username' />
            <button>Sign up</button>
          </form>
          </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= $google_analytics_key %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
